@import url('https://fonts.googleapis.com/css?family=Cutive|Open+Sans:300,400,600,700');
@import 'normalize.css';
@import 'skeleton.css';

@green: #00A94F;

a {
  color: darken(@green, 5%);
  &:hover {
    color: @green;
  }
}

body.site {
  font-size: 18px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  .site-content {
    flex: 1;
  }

  .footer {
    address {
      font-style: normal;
    }
    border-top: 1px solid #ddd;
    font-size: .8em;
    padding: 2em 0;
    color: #666;
  }

}

.navbar-spacer {
  height: 11.5rem;
  margin: 0 0 3em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @media (min-width: 750px) {
    background-color: @green;
    padding: 0 0 1em;
    margin: 0;
    .logo {
      margin: 0;
      padding: 0;
      position: relative;
      top: .5em;
    }
    ul {
      text-align: right;
      position: relative;
      font-size: 1.1em;
      top: 3.3em;
      li {
        display: inline;
        a {
          padding: 1em;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.align-right {
  text-align: right;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

.slab {
  font-family: 'Cutive', serif;
}

.img-container {
  img {
    max-width: 100%;
  }
}

.short-profile {
  .headshot {
    margin-bottom: .5em;
  }
  .name {
    font-size: 1.1em;
    font-weight: 600;
  }
  .title {
    
  }
  .email {
    
  }
  .phone {
    
  }
}

.team-member {
  .headshot {
    margin-bottom: 1.5em;
  }
  .name {
    border-bottom: 2px solid @green;
    padding-bottom: .33em;
  }
}

.portfolio-company {
  h1.slab {
    border-bottom: 2px solid @green;
    padding-bottom: .33em;
  }
  .img-container {
    margin: 1em 0;
  }
}

.company {
  padding: 1em;
  margin-bottom: 3em;
  border: 1px solid #ddd;
  border-radius: 5px;
  .llc {
    border-bottom: 1px dotted #eee;
    margin-bottom: 1em;
    padding-bottom: .66em;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
  }
  .name {
    margin: .66em 0 0;
  }
}

.pill {
  border-radius: 5px;
  margin: 0 0 1em;
  padding: 1em;
  color: @green;
  &:hover {
    color: darken(@green, 5%);
    background-color: #eee;
    cursor: pointer;
  }
  &.active {
    background-color: @green;
    color: white;
  }
}
