.navbar
  .container
    .row
      .six.columns
        .logo
          a(href="/")
            img(src="/img/logo.png")
      .six.columns
        ul
          li: a(href="/team/carlos-nido") Team
          li: a(href="/portfolio") Portfolio

.navbar-spacer