extends base.html

block content
  
  .container
    .row
      .carousel
        ul
          li(data-link='pinolywood-studios')
            img(src='/img/portfolio/pinolywood-studios.jpg')
            span.slide-header Piñolywood Studios LLC
          li(data-link='natural-ventures')
            img(src='/img/portfolio/natural-ventures.jpg')
            span.slide-header Natural Ventures LLC
          li(data-link='prasc')
            img(src='/img/portfolio/prasc.jpg')
            span.slide-header PRASC
            span.slide-subheader Puerto Rico Ambulatory Surgery Centers/Vista Ambulatory Surgery Centers
          li(data-link='sk3')
            img(src='/img/portfolio/sk3.jpg')
            span.slide-header SK3 LLC
            span.slide-subheader Sanky Panky 3 (2017)
          li(data-link='pepo-ps')
            img(src='/img/portfolio/pepo-ps.jpg')
            span.slide-header Pepo PS LLC
            span.slide-subheader Pepo Pal Senado (2016)
          li(data-link='travica')
            img(src='/img/portfolio/travica.jpg')
            span.slide-header Travica LLC
            span.slide-subheader Vico C &mdash; El Filósofo (2016)

  .green-bg
    .container
      div!=contents

block scripts
  script(src="/scripts/unslider.js")
  script.
    $('.carousel').unslider({
      autoplay: false,
      arrows: {
        prev: '<a class="unslider-arrow prev"><img src="/img/arrow-left.png"/></a>',
        next: '<a class="unslider-arrow next"><img src="/img/arrow-right.png"/></a>',
      }
    })

    $('[data-link]').click(function (e) {
      window.location.pathname = '/portfolio/' + $(e.currentTarget).attr('data-link');
    })


