extends base.html

mixin person(machine, full_name, title)
  .pill(id=machine)
    .full-name: strong=full_name
    .title=title
    script.
      $(function() {
        var $el = $('##{machine}');

        if (window.location.pathname.indexOf('/team/#{machine}') !== -1) {
          $el.addClass('active')
        }

        $el.click(function (e) {
          window.location.pathname = '/team/' + '#{machine}';
        })

      })

block content
  .team-member
    .container
      .row
        .four.columns
          +person(
            'carlos-nido',
            'Carlos J. Nido',
            'President/ Executive Producer'
          )
          +person(
            'alberto-sanchez',
            'Alberto Baco Sanchez',
            'Financial Analyst'
          )
          +person(
            'agnes-becerra',
            'Agnes Becerra',
            'Accountant'
          )

        .eight.columns
          h1.name.slab #{name}
          .subheader
            .position=position_title
            .phone=phone
            .email: a(href=`mailto:${email}`) #{email}

          div!=contents
